body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #595959;
  letter-spacing: 0.8px;
}
.app {
  background: #fff;
}
.app header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
}
.app header div .head-name {
  font-weight: 700;
  font-size: 27px;
}
.app header div .head-name span {
  color: #20B2AA;
}
.app header div ul {
  display: flex;
}
.app header div ul li a {
  font-weight: 600;
  padding: 35px 20px;
  text-transform: uppercase;
  display: block;
  color: #000;
  transition: all 0.2s;
  text-decoration: none;
}
.app .content .content-one {
  background-image: url(../imgs/img-bg.jpg);
  height: 600px;
  width: 100%;
  background-position: 0px 880px;
  background-size: cover;
  position: relative;
}
.app .content .content-one .welcome-text {
  width: 100%;
  position: absolute;
  top: 255px;
  text-align: center;
  font-size: 60px;
  color: #fff;
  z-index: 4;
}
.app .content .content-one .welcome-text h6 {
  font-size: 22px;
  color: #94a6ba;
  font-weight: 600;
  padding-bottom: 20px;
}
.app .content .content-one .welcome-text marquee {
  padding-top: 10px;
  font-weight: 700;
  font-size: 35px;
}
.app .content .content-two {
  padding-top: 80px;
  width: 75%;
  margin: auto;
}
.app .content .content-two > div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.app .content .content-two > div > div {
  flex: 1;
}
.app .content .content-two .about-img {
  margin-right: 5%;
}
.app .content .content-two .about-img img {
  width: 100%;
  height: auto;
}
.app .content .content-two h4 {
  font-size: 36px;
  color: #181818;
  font-weight: 600;
  margin-bottom: 22px;
  text-transform: uppercase;
}
.app .content .content-two p {
  padding-top: 7px;
  line-height: 26px;
  letter-spacing: 0.5px;
}
.app .content .content-two .btn-style1 {
  padding: 12px 22px;
  color: #fff;
  display: inline-block;
  transition: all 0.5s;
  background-color: #164E71;
  font-weight: 500;
  margin-top: 30px;
  text-decoration: none;
}
.app .content .content-three {
  margin-top: 100px;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
}
.app .content .content-three > div {
  flex: 1;
}
.app .content .content-three .skill-img {
  background-image: url(../imgs/skill-bg.jpg);
  height: 600px;
  width: 50%;
  color: #fff;
}
.app .content .content-three .skill-img > div {
  margin-top: 92px;
  margin-left: 15%;
  margin-right: 5%;
}
.app .content .content-three .skill-img h6 {
  font-weight: 600;
  font-size: 24px;
}
.app .content .content-three .skill-img h4 {
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 36px;
}
.app .content .content-three .skill-img p {
  line-height: 30px;
}
.app .content .content-three .skill-img .btn-style2 {
  margin-top: 30px;
  padding: 12px 22px;
  color: #fff;
  display: inline-block;
  transition: all 0.5s;
  font-weight: 500;
  border: 1px solid #fff;
}
.app .content .content-three .skill-content {
  background: #f9f9f9;
  width: 50%;
}
.app .content .content-three .skill-content .progressbar-area {
  margin-top: 30px;
  margin-left: 50px;
  width: 70%;
}
.app .content .content-three .skill-content .progressbar-area p {
  font-weight: 500;
  color: #6E6E6E;
  font-size: 15px;
  margin-bottom: 28px;
}
.app .content .content-three .skill-content .progressbar-area .progress {
  overflow: visible;
  height: 6px;
  margin-top: 10px;
  margin-bottom: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  background: #d7d7d7;
  box-shadow: none;
  font-weight: 400;
  border-radius: 5px;
}
.app .content .content-three .skill-content .progressbar-area .progress .progress-bar {
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  padding-top: 0;
  padding-left: 10px;
  text-align: left;
  color: #fff;
  background-color: #164E71;
  box-shadow: none;
  font-size: 10px;
  line-height: 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 100%;
}
.app .content .content-three .skill-content .progressbar-area .progress .progress-bar span {
  position: absolute;
  top: -28px;
  right: -6px;
  display: inline-block;
  min-width: 25px;
  height: 22px;
  padding: 0 8px;
  text-align: center;
  letter-spacing: 0;
  color: #fff;
  border-radius: 30px;
  background-color: #164E71;
  line-height: 21px;
  width: 36px;
}
.app .content .content-three .skill-content .progressbar-area .progress .progress-bar span::before {
  position: absolute;
  bottom: -4px;
  left: 12px;
  display: block;
  width: 8px;
  height: 8px;
  content: "";
  transform: rotate(45deg);
  background-color: #164E71;
}
.app .content .content-four {
  background-image: url('../imgs/experience-bg.jpg');
  padding-top: 90px;
  height: 600px;
}
.app .content .content-four h4 {
  font-size: 36px;
  color: #181818;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 80px;
  text-align: center;
}
.app .content .content-four .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  /* .left-item::after{
		    	    content: "";
				    width: 4px;
				    position: absolute;
				    top: 45px;
				    bottom: -25px;
				    background: none repeat scroll 0% 0% #ddd;
				    z-index: 2;
			    }*/
  /*.right-item::after{
			    	content: "";
				    width: 4px;
				    position: absolute;
				    top: 71px;
				    bottom: -25px;
				    left: 1px;
				    background: none repeat scroll 0% 0% #dedbdb;
				    z-index: 2;
			    }*/
}
.app .content .content-four .container .left-item {
  float: left;
  width: 50%;
  /*.experience-circle{
		    		    position: absolute;
					    width: 18px;
					    height: 18px;
					    border-radius: 25px;
					    right: -26px;
					    text-align: center;
					    top: 26px;
					    z-index: 3;
					    border: 5px solid #818181;
			    	}*/
}
.app .content .content-four .container .left-item .experience-content {
  background: #fff;
  padding: 30px 40px;
  margin-right: 38px;
  box-shadow: 0px 0px 10px #dadada;
}
.app .content .content-four .container .left-item .experience-content::after {
  content: "";
  border-style: solid;
  border-width: 9px 0 9px 18px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 40px;
  right: 20px;
}
.app .content .content-four .container .right-item {
  float: right;
  width: 50%;
  /*.experience-circle{
		    			position: absolute;
					    width: 18px;
					    height: 18px;
					    border: 5px solid #407495;
					    border-radius: 25px;
					    left: -21px;
					    text-align: center;
					    top: 53px;
					    z-index: 3;
		    		}*/
}
.app .content .content-four .container .right-item .experience-content {
  background: #fff;
  padding: 30px 40px;
  margin-left: 38px;
  box-shadow: 0px 0px 10px #dadada;
}
.app .content .content-four .container .right-item .experience-content::after {
  content: "";
  border-style: solid;
  border-width: 9px 18px 9px 0px;
  border-color: transparent #ffffff transparent transparent;
  position: absolute;
  top: 46px;
  left: 20px;
}
.app .content .content-four .container .experience-top-margin {
  margin-top: 140px;
}
.app .content .content-four .container .experience-item {
  position: relative;
}
.app .content .content-four .container .experience-item .experience-content h6 {
  color: #181818;
  font-weight: 600;
}
.app .content .content-four .container .experience-item .experience-content p {
  text-align: justify;
  letter-spacing: 0.2px;
}
.app .content .content-four .container .experience-item .experience-content .range {
  font-size: 14px;
  padding: 10px 0px;
  color: #164E71;
  font-weight: 600;
}
