body{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
    color: #595959;
    letter-spacing: 0.8px;
}
.app{
	background: #fff;
	header{
		div{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 7%;
			.head-name{
				font-weight: 700;
				font-size: 27px;
				span{
					color: #20B2AA;
				}
			}
			ul{
				display: flex;
				li{
					a{
						font-weight: 600;
						padding: 35px 20px;
						text-transform: uppercase;
						display: block;
						color: #000;
						transition: all 0.2s;
						text-decoration: none;
					}
				}
			}
		}
	}
	.content{
		background-image: url(../imgs/img-bg.jpg);
		height: 700px;
		width: 100%;
		background-position: 0px 880px;
		background-size: cover;
		position: relative;
		.welcome-text{
		    width: 100%;
		    position: absolute;
		    top: 255px;
		    text-align: center;
		    font-size: 60px;
		    color: #fff;
		    z-index: 4;
			h6{
				font-size: 22px;
			    color: #94a6ba;
			    font-weight: 600;
			    padding-bottom: 50px;
			}
		}
	}
}
